teiid:
  string:
    postgres:
      IsLengthFixed:
      dtype:
        true: CHAR
        false: VARCHAR
      max_length:
        4000: 65535
      length_columns:
        - Length
    mssql:
      IsLengthFixed:
      dtype:
          true: CHAR
          false: VARCHAR
      max_length:
        4000: MAX
      length_columns:
        - Length
  integer:
    postgres:
      dtype:
        INT
    mssql:
      dtype:
        INT
  long:
    postgres:
      dtype:
        BIGINT
    mssql:
      dtype:
        BIGINT
  short:
    postgres:
      dtype:
        SMALLINT
    mssql:
      dtype:
        SMALLINT
  boolean:
    postgres:
      dtype:
        BOOLEAN
    mssql:
      dtype:
        BIT
  float:
    postgres:
      dtype:
        FLOAT8
    mssql:
      dtype:
        FLOAT
  double:
    postgres:
      dtype:
        FLOAT8
    mssql:
      dtype:
        FLOAT
  decimal:
    postgres:
      dtype:
        DECIMAL
      max_length:
        32767 : '38, 8'
      length_columns:
        - Precision
        - Scale
    mssql:
      dtype:
        NUMERIC
      max_length:
        32767 : '38, 8'
      length_columns:
        - Precision
        - Scale
  bigdecimal:
    postgres:
      dtype:
        DECIMAL
      max_length:
        32767 : '38, 8'
      length_columns:
        - Precision
        - Scale
    mssql:
      dtype:
        NUMERIC
      max_length:
        32767 : '38, 8'
      length_columns:
        - Precision
        - Scale
  timestamp:
    postgres:
      dtype:
        TIMESTAMP
    mssql:
      dtype:
        DATETIME2
  object:
    postgres:
      dtype:
        BYTEA
    mssql:
      dtype:
        VARBINARY
  xml:
    postgres:
      dtype:
        VARBINARY
    mssql:
      dtype:
        VARBINARY
